body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.topnav {
    display: block;
    background-color: #333;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.topnav ul li {
    padding: 14px 16px;
}

.topnav ul li:hover {
    background-color: #22b74f;
    cursor: pointer;
}

.topnav ul li a {
    text-decoration: none;
    color: white;
}
